<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-16">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Reservar Mesa</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../../static/img/favicon.png" rel="icon">
  <link href="../../static/img/x-logo.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../../static/vendor/aos/aos.css" rel="stylesheet">
  <link href="../../static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../../static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../../static/css/main.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <a href="{% url 'index' %}" class="logo d-flex align-items-center me-auto me-lg-0">
        <img src="../../static/img/xpress-logo.png" alt="">
        <!-- <h1>Xpress<span>.</span></h1> -->
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="{% url 'index' %}">Página Inicial</a></li>
          <li><a href="{% url 'Menu' %}">O Nosso Menu</a></li>
          <li><a href="{% url 'AboutUs' %}">Sobre Nós</a></li>
          {% if user.is_authenticated %}
            <li><a href="{% url 'Reserve' %}">Reservar Uma Mesa</a></li>
            <li class="dropdown"><span>{{ user.username }}</span> <i class="bi bi-chevron-down dropdown-indicator"></i>
              <ul>
                <li><a href="{% url 'userProfile' %}">Perfil</a></li>
                <li><a href="{% url 'Logout' %}">Logout</a></li>
              </ul>
            </li>
          {% else %}
            <a class="btn-book-a-table" href="{% url 'Login' %}">Login</a>
          {% endif %}
        </ul>
      </nav><!-- .navbar -->

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->

  <main id="main">

  <!-- ======= Book A Table Section ======= -->
  <section id="book-a-table" class="book-a-table section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <p>Reserve <span>Uma Mesa</span> Connosco</p>
      </div>

      <div class="row g-0">

        <div class="col-lg-4 reservation-img" style="background-image: url(../../static/img/reservation.jpg);" data-aos="zoom-out" data-aos-delay="200"></div>

        <div class="col-lg-8 d-flex align-items-center reservation-form-bg">

          <form action="{% url 'Reserve' %}" method="post" class="php-email-form">
            {% csrf_token %}
            <div class="row gy-4">
              <div class="col-lg-4 col-md-6">
                <input type="text" name="name" placeholder="Nome">
                <div class="validate"></div>
              </div>
              <div class="col-lg-4 col-md-6">
                <input type="email" name="email" placeholder="Email">
                <div class="validate"></div>
              </div>
              <div class="col-lg-4 col-md-6">
                <input type="text" name="phone" placeholder="Telemóvel">
                <div class="validate"></div>
              </div>
              <div class="col-lg-4 col-md-6">
                <input type="date" name="date" placeholder="Data">
                <div class="validate"></div>
              </div>
              <div class="col-lg-4 col-md-6">
                <input type="time" name="time" placeholder="Hora">
                <div class="validate"></div>
              </div>
              <div class="col-lg-4 col-md-6">
                <input type="number" name="num_people" placeholder="Número de pessoas" min="1">   
                <div class="validate"></div>       
              </div>
              <div class="form-group mt-3">
                <textarea name="message" placeholder="Mensagem"></textarea>
              </div>
            </div>
            {% if messages %}
              <div class="messages">
                  {% for message in messages %}
                  <div class="alert alert-{{ message.tags }}">
                      {{ message }}
                  </div>
                  {% endfor %}
              </div>
            {% endif %}
            <button type="submit">Reservar</button>
          </form>

          
          <!-- <form action="{% url 'Reserve' %}" method="post" role="form" class="php-email-form" data-aos="fade-up" data-aos-delay="100">
            {% csrf_token %}
            
              <div class="col-lg-4 col-md-6">
                <input type="text" class="form-control" name="name" id="name" placeholder="Nome" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                <div class="validate"></div>
              </div>
              <div class="col-lg-4 col-md-6">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Email" data-rule="email" data-msg="Please enter a valid email">
                  <div class="validate"></div>
              </div>
              <div class="col-lg-4 col-md-6">
                  <input type="text" class="form-control" name="phone" id="phone" placeholder="Telemóvel" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                  <div class="validate"></div>
              </div>
              <div class="col-lg-4 col-md-6">
                  <input type="date" class="form-control" name="date" id="date" placeholder="Data" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                  <div class="validate"></div>
              </div>
              <div class="col-lg-4 col-md-6">
                  <input type="time" class="form-control" name="time" id="time" placeholder="Hora" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                  <div class="validate"></div>
              </div>
              <div class="col-lg-4 col-md-6">
                  <input type="number" class="form-control" name="people" id="people" placeholder="Número de pessoas" data-rule="min:1" data-msg="Please enter at least 1" min="1">
                  <div class="validate"></div>            
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" id="message" rows="5" placeholder="Mensagem"></textarea>
                <div class="validate"></div>
              </div>
              {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                    {% endfor %}
                </div>
              {% endif %}
            </div>
            <div class="text-center"><button type="submit">Reservar</button></div>
          </form> -->        

        </div><!-- End Reservation Form -->

      </div>

    </div>
  </section><!-- End Book A Table Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-3">
        <div class="col-lg-3 col-md-6 d-flex">
          <i class="bi bi-geo-alt icon"></i>
          <div>
            <h4>Morada</h4>
            <p>
              Rua do Bairro 33<br>
              Santiago de Piães 4690-441 Cinfães<br>
            </p>
          </div>

        </div>

        <div class="col-lg-3 col-md-6 footer-links d-flex">
          <i class="bi bi-telephone icon"></i>
          <div>
            <h4>Reservas</h4>
            <p>
              <strong>Tél:</strong> +351 919 203 490<br>
              <strong>Email:</strong> ca.t.espero@gmail.com<br>
            </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 footer-links d-flex">
          <i class="bi bi-clock icon"></i>
          <div>
            <h4>Horários</h4>
            <p>
              <strong>Seg-Sáb: </strong>09:00 - 23:00<br>
              <strong>Domingo: </strong> 09:00 - 14:00
            </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Siga-nos</h4>
          <div class="social-links d-flex">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Xpress</span></strong>. Todos direitos reservados
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/yummy-bootstrap-restaurant-website-template/ -->
        <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
      </div>
    </div>

  </footer><!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="../../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../static/vendor/aos/aos.js"></script>
  <script src="../../static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../../static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../../static/vendor/swiper/swiper-bundle.min.js"></script>
  <!-- <script src="../../static/vendor/reserve-form/validate.js"></script> -->

  <!-- Template Main JS File -->
  <script src="../../static/js/main.js"></script>

</body>

</html>